<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Your Family</h1>
    <p> Father's Name: <%= fatherName %></p>
    <p> Mother's Name: <%= motherName %></p>
    <p> Sibling: <%= sibling %></p>
    <p> Address: <%= address %></p>

</body>
</html>